*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 16px;
  position: relative;
}
.hien{
  position: fixed;
  right: 0;
  top: 0;
}
.hiendi{
  margin: 16px;
  width: 400px;
  height: 75px;
  padding: 10px;
  border-left: solid 5px;
  border-radius: 5px;
  display: flex;
  box-shadow: 10px 10px 10px lightgray;
  align-items: center;

}
.hiendi .thongbao-hien{
  flex: 1;
}
.hiendi .thongbao-hien .chutren{
  font-size: 1.2em;
  font-weight: 800;
}
.hien-dung{
  border-color: lightgreen;
}
.hien-dung .cricle-check{
  background-color: lightgreen;
  height: 22px;
  border-radius: 50%;
  width: 1.4em;
}
.hien-dung .ti-check{
  color: white;
  font-size: 1.4em;
}
.hien-sai{
  border-color: orangered;
}
.hien-sai .ti-info-alt{
  background-color: orangered;
  color: white;
  font-size: 1.4em;
  border-radius: 100%;
}
.hien-loi{
  border-color: orange;
}
.hien-loi .ti-help-alt{
  color: white;
  background-color: orange;
  border-radius: 100%;
  font-size: 1.4em;
}
.id{
  display: flex;
  width: 50%;
  height: 500px;
  align-items: center;
  justify-content: space-around;
}
.di{
  width: 200px;
  height: 30px;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.dung{
  background-color: mediumseagreen;
}
.sai{
  background-color: red;
}
.loi{
  background-color: orange;
}
.di:hover{
  opacity: 0.7;
}
@keyframes phiphai{
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes modi{
  to{
    opacity: 0;
  }
}